<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h2><a href="/"><img id="appleLogo" src="/images/Apple_logo.png" alt="Apple logo in white with silhouette"><img id="colorLogo" class="hidden" src="/images/apple_colorful.png" alt="Colorful Apple Logo"></a></h2>
    ${body}
</body>
<script src="/scripts/scripts.js"></script>
</html>